
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Layouts/Layout.cshtml";
}

<h2>Index</h2>
<a class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Create</a>
<div class="table-responsive m-t-40">
    <table id="dt" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreateDate</th>
                <th>UpdateDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="db" />
    </table>
</div>

<!-- Modal Bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Id">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Department Name : </label>
                        <input type="text" class="form-control" id="Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()" id="Save">Save</button>
                <button type="button" class="btn btn-warning" onclick="Edit()" id="Update">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ===================  SCRIPT ================================= -->

<script src="~/Content/Mini AdminPro/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/Content/Mini AdminPro/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="~/Content/Mini AdminPro/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/Content/Mini AdminPro/main/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="~/Content/Mini AdminPro/main/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Content/Mini AdminPro/main/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="~/Content/Mini AdminPro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="~/Content/Mini AdminPro/main/js/custom.min.js"></script>
<!-- This is data table -->
<script src="~/Content/Mini AdminPro/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<!-- Style switcher -->
<script src="~/Content/Mini AdminPro/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>


<!-- Moment -->
<script src="~/Content/Mini AdminPro/assets/plugins/moment/min/moment.min.js"></script>


<!-- Department JS-->
<script src="~/Scripts/DepartmentScript.js"></script>

<!-- Sweetalert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.9/dist/sweetalert2.all.min.js"></script>

<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<!-- end - This is for export functionality only -->


<script>
    $('#exampleModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')

    });

    

</script>



