
@{
    ViewBag.Title = "Index Division";
    Layout = "~/Views/Layouts/Layout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Table Data table</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"> @ViewBag.Title</li>
        </ol>
    </div>

    <div class="col-md-6 col-4 align-self-center">
        <button id="btncreate" data-toggle="modal" data-target="#exampleModal" class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create New</button>
    </div>


</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Export</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="dt-buttons">
                    <a href="@Url.Action( "convertToCSV", "Division")" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23"><span>CSV</span></a>
                    <a href="@Url.Action( "convertToExcel", "Division")" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23"><span>Excel</span></a>
                    <a href="@Url.Action( "Report", "Division")" class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example23"><span>PDF</span></a>
                </div>

                <div class="table-responsive m-t-40">
                    <!--table -->
                    <table id="div-table" class="display nowrap table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Division Name</th>
                                <th>Department</th>
                                <th>CreateDate</th>
                                <th>UpdateDate</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal Bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Division</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Id">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Division Name : </label>
                        <input type="text" class="form-control" id="Name">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Department : </label>
                        <select class="form-control" id="DepartmentSelect"></select>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()" id="Save">Save</button>
                <button type="button" class="btn btn-warning" onclick="Edit()" id="Update">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ===================  SCRIPT ================================= -->

<script src="~/Content/Mini AdminPro/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/Content/Mini AdminPro/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="~/Content/Mini AdminPro/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/Content/Mini AdminPro/main/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="~/Content/Mini AdminPro/main/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Content/Mini AdminPro/main/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="~/Content/Mini AdminPro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="~/Content/Mini AdminPro/main/js/custom.min.js"></script>
<!-- This is data table -->
<script src="~/Content/Mini AdminPro/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<!-- Style switcher -->
<script src="~/Content/Mini AdminPro/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

<!-- Moment -->
<script src="~/Content/Mini AdminPro/assets/plugins/moment/min/moment.min.js"></script>


<!-- Division JS-->
<script src="~/Scripts/DivisionScript.js"></script>

<!-- Sweetalert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.9/dist/sweetalert2.all.min.js"></script>

<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<!-- end - This is for export functionality only -->
